
<div id="content">
	<h6>Here are your search results for:</h6> 
	<h4><%= @query%></h4>
	<div id="thermometer">
		<div class="track">
			<div class="goal">
				<div class="amount">200</div>
			</div>
			<div class="progress">
				<div class="amount"> <%= @score %> </div>
			</div>
		</div>
	</div>
	<div id="triangle"></div>
	<div data-width="<%= @sd %>"></div>
</div>
<div id="related-words">
	<ul>
		<li><%= @related1 %></li>
		<li><%= @related2 %></li>
		<li><%= @related3 %></li>
	</ul>
</div>


<script>
	$(document).ready(function(){
		thermometer();
	});
</script>

