
<section class="thermometer">
<div id="content">
	<h6>Here are your search results for:</h6> 
	<h4><%= @query%></h4>
	<div id="thermometer">
		<div class="track">
			<div class="goal">
				<div class="amount" data-amount="200"></div>
			</div>
			<div class="progress">
				<div class="amount" data-amount="<%= @score %>"></div>
			</div>
			<div class="sd">
				<div class="amount" data-amount ="<%= @sd %>"></div>
			</div>
		</div>
	</div>

	<div id="triangle"></div>	

	<div id="conversation">
		<h6>The conversation is taking in place in these categories: </h6>
		<h4><%= @convo1 %>, <%= @convo2 %>, <%= @convo3 %></h4>
	</div>

</div>
<div class="arrow animated bounce">
</div>
</section>

<section class="wordcloud">
<div id="wordcloud">
	<% @words.each do |word| %>
	<span data-weight="<%= word[1][1] %>"><%= word[1][0]%></span>
	<% end %>
</div>
</section>

<script>
$(document).ready(function(){
	var settings = {
		"size" : {
			"grid" : 8,
			"factor": 5,
			"normalize": true
		},
		"options" : {
			"color" : "gradient",
			"printMultiplier" : 3
		},
		"color" : {
			"start" : "#fff",
			"end" : "#fff"
		},
		"font" : "'Montserrat', sans-serif",
		"shape" : "square"
	}

	$( "#wordcloud" ).awesomeCloud( settings );

	thermometer();
});
</script>

